<h1>Welcome to the Car Simulator</h1>
<form action="create" method="get">
  <input type="text" placeholder="Make" name="make"/>
  <input type="text" placeholder="Model" name="model"/>
  <input type="number" placeholder="Year" name="year" required/>
  <input type="submit" value="Simulate Car"/>
</form>
